<div class="custom col-sm-4">
  <h1>{{title}}</h1>
    <form name="myForm" class="form-group" ng-submit="submit();" ng-controller="controlFruit">
      <div class="form-group">
        <label for="fruta">Nome da fruta</label>
        <input type="text" name="fruta" ng-model="fruta.nome" id="Fruta" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="number" name="quantidade" ng-model="fruta.quantidade" id="quantidade" required class="form-control" min="1" max="100" required ng-disabled="myForm.fruta.$invalid"/>
      </div>
      <div class="form-group">
        <label for="preco">Preco</label>
        <input type="text" name="preco" ng-model="fruta.preco" id="preco" class="form-control" required ng-disabled="myForm.quantidade.$invalid"/>
      </div>
      <input type="submit" value="Enviar" class="btn btn-success pull-right" ng-disabled="myForm.$invalid"/>
    </form>
</div>
