<h1>Historico de compras</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center col-sm-5">Data da compra</th>
      <th class="text-center ">Ver carrinho</th>
    </tr>
  </thead>
  <tbody>

    <tr>
        <td class="text-center">29/09</td>
        <td class="text-center"> <a style="color: gray;" href="" data-target="#historico" data-toggle="modal"> <i class="glyphicon glyphicon-pencil"></i> </a> </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="historico">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Historico</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center col-sm-5">Nome da Fruta</th>
              <th class="text-center">Preço</th>
              <th class="text-center">Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="fruit in carrinho | filter:{nome:pesquisa} || 'nome'" >
                <td class="text-center" ng-if="fruit.disponivel">{{fruit.nome}}</td>
                <td class="text-center" ng-if="fruit.disponivel">{{fruit.preco | currency}}</td>
                <td class="text-center" ng-if="fruit.disponivel">{{fruit.quantidade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <strong class="pull-left">Total: {{carrinho.total | currency}}</strong>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
