<div class="col-xs-6">
  <button class="btn btn-default" data-target="#carrinhoCompras" data-toggle="modal">Ver carrinho</button>
</div>
<div class="input-group col-sm-5">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Procure uma fruta na loja" ng-model="pesquisa">
</div>
<hr/>
<h1>Loja</h1>
<hr/>
<div ng-include="'carrinho.html'">

</div>
<ul class="list-group col-sm-3" ng-repeat="fruta in fruits | filter:{nome:pesquisa} || 'nome'">
  <li class="list-group-item text-center" >
    <img src="img/default.jpg" class="img-responsive img-circle" width="140" height="120" style="margin-left:20%">
    <strong>Fruta: </strong>{{fruta.nome}}<br/>
    <strong>Preço: </strong>{{fruta.preco | currency}}
  </li>
  <li class="list-group-item text-center">
      <button class="btn btn-default" data-target="#QuantidadeCarrinho" ng-click="SelectFruit(fruta)" data-toggle="modal">Adicionar carrinho</button>
  </li>
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id="QuantidadeCarrinho">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Adicione a quantidade {{fruta}}</h4>
      </div>
      <div class="modal-body">
        <input type="number" ng-model="carrinho.qtdCarrinho" class="form-control" placeholder="Quantidade de frutas" required/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addCarrinho()">Adcionar</button>
      </div>
    </div>
  </div>
</div>
