<html ng-app="app">
  <head>
    <title>CrudJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.js"></script>
    <script src="js/controllerUser.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Loja</a></li>
          <li><a href="#" data-target="#infoUser" data-toggle="modal">Entrar ou criar uma nova conta</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" ng-controller="controlAcess">
      <div class="modal fade" id="infoUser" data-backdrop="static" role="dialog" data-show="true">
        <div class="modal-dialog">
          <div class="modal-content" ng-controller="controlAcess">
            <div class="modal-header">
                <a href="#!/list/" class="close" data-dismiss="modal">&times;</a>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                <li><a data-toggle="tab" href="#cadastrar">Criar conta</a></li>
              </ul>
            </div>
            <div class="modal-body">
              <div class="tab-content">
                <div id="login" class="tab-pane fade in active">
                  <h3>Login</h3>
                  <form name="formLogin">
                    <div class="form-group">
                      <label for="user">Usuário</label>
                      <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text" id="user" class="form-control" placeholder="Insira seu email" ng-model="usuario.login" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="senha">Senha</label>
                      <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-hand-right"></span>
                        <input type="password" id="senha" class="form-control" placeholder="Insira sua senha" ng-model="usuario.senha" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default pull-right" ng-click="logar();" ng-disabled="formLogin.$invalid">Logar</button>
                    </div>
                  </form>
                </div>

                <div id="cadastrar" class="tab-pane fade">
                  <h3>Criar conta</h3>
                  <form name="formCadastro">
                    <div class="form-group">
                      <label for="user">Usuário</label>
                      <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text" id="user" class="form-control" placeholder="Insira seu login" ng-model="usuario.login" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                        <input type="email" id="senha" class="form-control" placeholder="Insira seu email" ng-model="usuario.email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="senha">Senha</label>
                      <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-hand-right"></span>
                        <input type="password" id="senha" class="form-control" placeholder="Insira sua senha" ng-model="usuario.senha" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default pull-right" ng-click="cadastrar();" ng-disabled="formCadastro.$invalid">Cadastrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
