<button class="btn btn-default pull-right" data-target="#ver" data-toggle="modal">Minhas mensagens</button>

<h1>Fale conosco</h1>

<div class="form-group">
  <label for="assunto">Nome do assunto</label>
  <input type="text" name="assunto" ng-model="comentario.assunto" id="assunto" class="form-control" required />
</div>
<div class="form-group">
  <label for="comentario">Comente aqui</label>
  <textarea class="form-control" rows="5" id="comentario" ng-model="comentario.sugestao"></textarea>
</div>
<div class="form-group">
  <button class="btn btn-default pull-right" ng-click="addComentario();">Submit</button>
</div>


<div class="modal fade" id="ver" data-backdrop="static" role="dialog" data-show="true">
  <div class="modal-dialog custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#!/list/" class="close" data-dismiss="modal">&times;</a>
        <h2 class="modal-title">Minhas Mensagens</h2>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center ">Data</th>
              <th class="text-center ">Assunto</th>
              <th class="text-center ">Comentario</th>
              <th class="text-center ">Resposta</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="coments in coments">
                <td class="text-center">{{coments.data | date:"dd/MM/yyyy hh:mm"}}</td>
                <td class="text-center">{{coments.assunto}}</td>
                <td class="text-center">{{coments.sugestao}}</td>
                <td class="text-center">{{coments.respostas || "Aguarde resposta"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger pull-right" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
