<div class="col-xs-6">
  <button class="btn btn-danger" ng-click="deleteSelect(fruits);" ng-disabled="fruits.length <= 0">Excluir selecionados</button>
</div>
<div class="input-group">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Procure uma fruta no estoque" ng-model="pesquisa">
</div>

<hr/>
<h1>Controle de Estoque</h1>
<hr/>

<div ng-include="'./html/form.html'"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><input type="checkbox" ng-model="selecionartodos" ng-disabled="fruits.length <= 0"/></th>
      <th class="text-center col-sm-5">Nome da Fruta</th>
      <th class="text-center">Preço</th>
      <th class="text-center">Quantidade</th>
      <th class="text-center">Editar</th>
      <th class="text-center">Excluir</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="fruta in fruits | filter:{nome:pesquisa} || 'nome'" >
        <td class="text-center"><input type="checkbox" ng-model="fruta.selecionado"/></td>
        <td class="text-center">{{fruta.nome}}</td>
        <td class="text-center">{{fruta.preco | currency}}</td>
        <td class="text-center">{{fruta.quantidade}}</td>
        <td class="text-center"> <a style="color: gray;" href="#!/list/{{fruta._id}}" data-target="#form" data-toggle="modal"> <i class="glyphicon glyphicon-pencil"></i> </a> </td>
        <td class="text-center"> <a style="color: red;" href="#!/list/:index" ng-click="deleteOne(fruta, $index)"> <i class="glyphicon glyphicon-remove"></i></a></td>
    </tr>
  </tbody>
</table>
