<div class="col-xs-6">
  <button class="btn btn-danger" ng-click="deleteSelect(fruits);" ng-disabled="fruits.length <= 0">Excluir selecionados</button>
</div>
<div class="input-group">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Procure uma fruta no estoque" ng-model="pesquisa">
</div>

<hr/>
<h1>Controle de Estoque</h1>

<button class="btn btn-default" ><span class="glyphicon glyphicon-stats"></span></button>
<input type="checkbox" ng-model="checkboxModel" class="pull-right"/>

<hr/>

<div ng-include="'./html/form.html'"></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center" ng-if="!checkboxModel"><input type="checkbox" ng-model="selecionartodos" ng-disabled="fruits.length <= 0"/></th>
      <th class="text-center col-sm-5">Nome da Fruta</th>
      <th class="text-center" ng-if="!checkboxModel">Preço</th>
      <th class="text-center" ng-if="!checkboxModel">Quantidade</th>
      <th class="text-center" ng-if="!checkboxModel">Editar</th>
      <th class="text-center col-sm-10" ng-if="checkboxModel">Lucros</th>
      <th class="text-center">Excluir</th>
    </tr>
  </thead>
  <tbody>

    <tr dir-paginate="fruta in fruits | itemsPerPage: 6 | filter:{nome:pesquisa} " >
        <td class="text-center" ng-if="!checkboxModel"><input type="checkbox" ng-model="fruta.selecionado"/></td>
        <td class="text-center">{{fruta.nome}}</td>
        <td class="text-center" ng-if="!checkboxModel">{{fruta.preco | currency: "R$ "}}</td>
        <td class="text-center" ng-if="!checkboxModel" ng-class="fruta.quantidade < 10 ? 'text-danger' : 'text-success'">{{fruta.quantidade}}</td>
        <td class="text-center" ng-if="!checkboxModel"> <a style="color: gray;" href="#!/list/{{fruta._id}}" data-target="#form" data-toggle="modal"> <i class="glyphicon glyphicon-pencil"></i> </a> </td>
        <td ng-if="checkboxModel" class="text-center">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
              100%
            </div>
        </td>
        <td class="text-center"> <a style="color: red;" href="#!/list/:index" ng-click="deleteOne(fruta, $index)"> <i class="glyphicon glyphicon-remove"></i></a></td>
    </tr>
  </tbody>
</table>
<div class="paginacao">
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
