<div class="modal fade" id="controllUser" data-backdrop="static" role="dialog" data-show="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="controlAcess">
      <div class="modal-header">
          <a href="#!/list/" class="close" data-dismiss="modal">&times;</a>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="">Login</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div id="login" class="tab-pane fade in active">
            <h3>Login</h3>
            <form name="formLogin">
              <div class="form-group">
                <label for="user">Usuário</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input type="text" id="user" class="form-control" placeholder="Insira seu email ou login" ng-model="usuario.login" required>
                </div>
              </div>
              <div class="form-group">
                <label for="senha">Senha</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-hand-right"></span>
                  <input type="password" id="senha" class="form-control" placeholder="Insira sua senha" ng-model="usuario.senha" required>
                </div>
              </div>
              <div class="modal-footer">
                <div class="input-group pull-right">
                  <button class="btn btn-primary pull-right" ng-click="logar();" ng-disabled="formLogin.$invalid" data-dismiss="modal">
                    Logar
                  </button>
                  <button class="btn btn-default pull-right" data-target="#cadastraUser" data-toggle="modal" data-dismiss="modal">
                    Criar uma nova conta</button>
                </div>
                <div ng-if="message" class="alert alert-danger col-sm-10 text-center">
                  {{message}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cadastraUser" data-backdrop="static" role="dialog" data-show="true">
  <div class="modal-dialog">
    <div class="modal-content" ng-controller="controlAcess">
      <div class="modal-header">
          <a href="#!/list/" class="close" data-dismiss="modal">&times;</a>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="">{{title}}</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div id="login" class="tab-pane fade in active">
            <h3>{{title}}</h3>
            <form name="formCadastro">
              <div class="form-group">
                <label for="user">Usuário</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input type="text" id="user" class="form-control" placeholder="Insira seu login" ng-model="usuario.login" required>
                </div>
              </div>
              <div class="form-group">
                <label for="user">E-mail</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input type="text" id="user" class="form-control" placeholder="Insira seu email" ng-model="usuario.email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="senha">Senha</label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-hand-right"></span>
                  <input type="password" id="senha" class="form-control" placeholder="Insira sua senha" ng-model="usuario.senha" required>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default pull-right" ng-click="controlUser();" ng-disabled="formCadastro.$invalid" data-dismiss="modal">Finalizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
